.afficher::before {
    content: "\2193";
}

.moins::before {
    content: "\2191";
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

article {
    margin: 20px;
    text-align: center;
}

footer {
    text-align: center;
}
