.afficher::before {
    content: "\2193";
}

.moins::before {
    content: "\2191";
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: #fff; /* Fond blanc */
    color: #000; /* Texte noir */
}

ul {
    list-style-type: none;
    padding: 0;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

article {
    margin: 20px;
    text-align: center;
}

footer {
    text-align: center;
}

/* Styles des boutons */
button {
    background-color: #007bff; /* Fond bleu */
    color: #fff; /* Texte blanc */
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

/* Hover sur les boutons */
button:hover {
    background-color: #0056b3; /* Fond bleu foncé au survol */
}

/* Style du lien dans la section des articles */
.article-footer a {
    color: #007bff; /* Couleur bleue pour le lien */
    text-decoration: none;
}

.article-footer a:hover {
    text-decoration: underline; /* Souligné au survol du lien */
}
